{% extends "main/base.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Are you sure you want to delete <b>{{item}}</b>?</p>
            <form method="post" action="{% url 'delete' item %}" class="form-group">

            {% csrf_token %}
            <a class="btn btn-warining" href="{% url 'view' %}">Cancel</a>
            <input type="submit" value="Confirm" class="btn btn-danger">
        </div>
    </div>
</div>
</br>
{% endblock %}
